@model Ne_Yapalim.Models.Events

@{
    ViewData["Title"] = "EventCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Users = await UserManager.GetUserAsync(User);

}



<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3 border-0 ">
            <!-- Sidebar -->
            <div class="d-flex flex-column flex-shrink-0 p-3  profilesidebar">
                <img src="/images/@Users.ProfilPhoto" class="rounded float-left  card-img-top" alt="">
                <br />
                <a asp-area="" asp-controller="Account" asp-action="UserProfile" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">

                </a>
                <hr />
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Event" asp-action="EventCreate" class="nav-link text-dark" aria-current="page">
                            <i class="fas fa-calendar"></i>
                            Etkinlik Oluştur
                        </a>
                        <hr />
                    </li>

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Event" asp-action="EventView" class="nav-link text-dark ">
                            <i class="fas fa-calendar"></i>
                            Etkinliklerim
                        </a>
                        <hr />
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <i class="far fa-user-alt"></i>
                            Katıldığım Etkinlikler
                        </a>
                        <hr />
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link text-dark ">
                            <i class="far fa-user-alt"></i>
                            Profil Düzenleme
                        </a>
                        <hr />
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>
        
        <div class="col-12 col-lg-9 mt-lg-5">
            <h2>Dilediğiniz Etkinleri Buradan Oluşturabilirsiniz</h2>
            <div class="profileEventList">
                <div class="my-3 p-3 ">
                    <!-- item -->
                    <div class="d-flex text-muted pt-3">
                        <div class="col-md-8 ">
                            <form id="eventCreateForm" asp-action="EventCreate" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-img">
                                    <img id="output" class="rounded float-left  card-img"  alt="">
                                </div>
                               
                                <div class="form-group ">
                                    <label >Etkinlik Fotoğrafı</label>
                                    <input type="file" name="file" asp-for="EventImage" accept="image/*" onchange="loadFile(event)" class="form-control" required />
                                    <!--<span asp-validation-for="EventImage" class="text-danger"></span>-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Etkinlik Başlık</label>
                                    <input asp-for="Title" class="form-control" required />
                                    <span asp-validation-for="Title" class="text-danger" ></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Açık Adres</label>
                                    <input asp-for="Location" class="form-control"  required/>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label">Açıklama</label>
                                    <input type="text" asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tarih</label>
                                    <input asp-for="Date" class="form-control"  required/>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label">Etkinlik Kategori</label>
                                    @Html.DropDownListFor(x => x.EventCategory.Id, (List<SelectListItem>)ViewBag.EventCtgr, htmlAttributes: new { @class = "form-control", required = String.Empty })
                                    <span asp-validation-for="EventCategoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Oluştur" class="btn btn-primary my-2 btnStyle1 float-end" />
                                </div>

                            </form>

                        </div>
                    </div>
                    <!-- item -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<script>
    $("#eventCreateForm").validate();
</script>
}

